.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("svg.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .icon:before {
    background-image: url("../svg.png");
}




